<h2>Pyramid Developers</h2>
<p><img src="https://www.gravatar.com/avatar/e8f1d740e76538f15e1b10d8e4188c39.png" alt="PTI" title="Follow us on Twitter @PTIacceptors"  class="img-rounded floatLeft" />			
Pyramid Technologies is a bill validation expert. We design and manufacture bill acceptors for vending, gaming, kiosk, and amusement applications.</p>					
<p><iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=PyramidTechnologies&repo=pyramidtechnologies.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" 
src="https://ghbtns.com/github-btn.html?user=PyramidTechnologies&repo=pyramidtechnologies.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/PTIacceptors" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @PTIacceptors</a></p>
<ul class="buttons">
  <li><a href="https://github.com/PyramidTechnologies" rel="me" class="social github" title="Go to github.com/PyramidTechnologies" target="_blank"></a></li>
  <li><a href="https://www.linkedin.com/company/pyramid-technologies-inc_2" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
  <li><a href="https://www.twitter.com/PTIacceptors" rel="me" class="social twitter" title="Go to twitter.com/PTIacceptors" target="_blank"></a></li>
  <li><a href="https://plus.google.com/+Pyramidacceptors/" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li>
  <li><a href="https://github.com/PyramidTechnologies/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Pyramid Technologies"  target="_blank"></a></li>	
</ul>
